<!DOCTYPE html>
<html>
    <head>
        <title>About | GT Dataseum</title>
        <%- include('../includes/head'); %>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/tile.css">
    </head>

    <body>
        <div class="logo">
            <img src="/img/transparent_logo.svg" alt="Logo">
        </div>

        <div id="content" class="center">
            <div style="margin-top: 50px;"><%- include('../includes/dataseumtitle'); %></div><hr>


            <div class="desc"> 
                <h1>Welcome to the Dataseum, A place to play with data.</h1>
                <p>The Dataseum is a Georgia Tech museum exhibit hosted in Price Gilbert Library dedicated to local sustainability, data, and data interaction.</p>
                <p>Learn more at <a href="https://sites.gatech.edu/dataseum/">https://sites.gatech.edu/dataseum/</a></p>
                <img src="/img/banner2.png">
                <h1>Becoming the data.</h1>
                <p>Make your way around the museum, complete the exhibits, scan the QR codes, and build your data profile! At the end of the experience, make your own mark on the map of Atlanta so your unique (but anonymous) data profile can join the bigger picture.</p>
                <a href="/start" class="button orange" >I'm ready to Become The Data.</a>
                <a href="/" class="button blue">Return to home page.</a>
                <img src="/img/banner1.png">
            </div>
        </div>
    </body>
</html>