<!DOCTYPE html>
<html>
    <head>
        <title>About | GT Dataseum</title>
        <%- include('../includes/head'); %>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/tile.css">
    </head>

    <body>
        <div class="logo">
            <img src="/img/transparent_logo.svg" alt="Logo">
        </div>
        <%- include('../includes/homepagetiles'); %>

        <div id="content" class="center">
            <div class="desc"> 
                <h1>Becoming the data.</h1>
                <p>The Becoming The Data experience is a supplementary application to The Dataseum, a Georgia Tech museum hosted in Price Gilbert</p>
                <p>Learn more at <a href="https://sites.gatech.edu/dataseum/">https://sites.gatech.edu/dataseum/</a></p>
                <img src="/img/tile5.png">
                <p>Make your way around the museum, scan the QR codes, and build your data profile! At the end of the experience, make your own mark on the map of Atlanta so your unique (but anonymous) data profile can join the bigger picture.</p>
                <a href="/start" class="button orange" >I'm ready to Become The Data.</a>
                <img src="/img/tile2.png">
            </div>
        </div>
    </body>
</html>