<!DOCTYPE html>
<html>
    <head>
        <title>Build your data dot. | GT Dataseum</title>
        <%- include('../includes/head'); %>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/info.css">
        
    </head>

    <body>
        <div id="content" class="center">
            <div style="margin-top: 50px;"><%- include('../includes/dataseumtitle'); %></div><hr>

            <h1 class="title1">Create your data dot.</h1>
            <div class="datadotform">
                <div class="form-row">
                    <div class="form-column">
                        <img src="/img/personalities/<%= visitorData.group %>.png" alt="Assigned Group">
                    </div>
                    <div class="form-column">
                        <div>
                            <p>Your dot.</p>
                            <div class="dot-preview">
                                <!-- Dot preview here -->
                            </div>
                        
                        </div>
                        <div style="flex-direction: row; display: flex; align-items: center;">
                            <p id="cpl" class="color-picker-label">Select Color</p>
                            <input type="color" id="dot-color" class="color-picker">
                        </div>
                    </div>
                </div>
            </div>
            <a id="map-link" class="button red" style="margin-bottom: 20px;">Send your dot to the map.</a>
        </div>

        <script>
            const colorPicker = document.getElementById('dot-color');
            const colorPickerLabel = document.getElementById('cpl');
            const dotPreview = document.querySelector('.dot-preview');
            const mapLink = document.getElementById('map-link');
        
            function updateDotColor(event) {
                const selectedColor = event.target.value;
                dotPreview.style.backgroundColor = selectedColor;
                mapLink.href = "/map/add/<%= visitorData.sessionId %>?color=" + selectedColor.replace('#', '');
            }
        
            colorPicker.addEventListener('input', updateDotColor);
        </script>
    </body>
</html>