<!DOCTYPE html>
<html>
    <head>
        <title>Atlanta Map | GT Dataseum</title>
        <%- include('../includes/head'); %>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/map.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    </head>

    <body>
        <div class="logo">
            <img src="/img/transparent_logo.svg" alt="Logo">
        </div>
        <div id="content full">
            <div id="map">
                <iframe width="95%" height="95%" src="https://api.maptiler.com/maps/7fa13f10-7149-45f2-ae8c-154f26e2cc1e/?key=U2tGYk0Y3xdO1ag6fz8M#12.7/33.75405/-84.38089" frameborder="0"></iframe>
            </div>
        </div>

        <script>
           document.addEventListener('DOMContentLoaded', function () {
            var map = L.map('map').setView([33.749, -84.388], 11); // Atlanta coordinates
    
            // dot example
            var dot = L.circleMarker([33.749, -84.388], {
                color: '#ff0000', // Red color
                fillColor: '#ff0000',
                fillOpacity: 1,
                radius: 8
            }).addTo(map);
            dot.bindPopup("Atlanta");
        });
    
        </script>
    </body>
</html>