.connections {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.correct-answers {
    width: 100%;
    padding: 10px;
}

.correct-answers .group {
    border-radius: 10px;
    margin-bottom: 20px;
    opacity: 80%;
    padding: 30px;
    display: none;
}

.correct-answers .group h2{
    margin: 0;
    margin-bottom: 10px;
}

.group-words {
    margin: 0;
}

.board {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
}

.board a {
    color: var(--ash-black) !important;
    background-color: rgb(221, 216, 216);
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px; 
    padding-left: 1%;
    padding-right: 1%;
    width: 18%;
    flex-grow: 0;
    transition: border 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    
}

.board a:hover {
    box-shadow: 3px var(--ash-black);
    cursor: pointer;
    border: 5px solid var(--fall-orange);
}
