:root {
    --ivory-cream: #F0EADE;
    --ash-black: #22201C;
    
    --fall-orange: #F96D49;
    --georgia-peach: #FFB292;
    --sunshine-yellow: #F0DF87;
    --grass-green: #4FAA71;
    --moss-green: #0F443A;
    --mist-blue: #B7D5ED;
    --river-blue: #207DCA;
    --red-clay: #7F3206;
}