<div class="tile-bar-tilt2">
    <div class="tile">
        <img src="/img/tile1.png" alt="Tile 1">
        <div class="tile-flip"></div>
    </div>
    <div class="tile">
        <img src="/img/tile2.png" alt="Tile 2">
        <div class="tile-flip"></div>
    </div>
    <div class="tile">
        <img src="/img/tile3.png" alt="Tile 3">
        <div class="tile-flip"></div>
    </div>
    <div class="tile">
        <img src="/img/tile4.png" alt="Tile 4">
        <div class="tile-flip"></div>
    </div>
    <div class="tile">
        <img src="/img/tile5.png" alt="Tile 5">
        <div class="tile-flip"></div>
    </div>
</div>