<!DOCTYPE html>
<html>
    <head>
        <title>Acid Rain | GT Dataseum</title>
        <%- include('../../includes/head'); %>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/data.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/survey.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/connections.css">
    </head>

    <body>
        <div class="logo">
            <img src="/img/transparent_logo.svg" alt="Logo">
        </div>
        <div id="content" class="center">
            <div style="margin-top: 50px;"><%- include('../../includes/dataseumtitle'); %></div>
            <h1 class="title3" style="display: none;">Session: <%= sessionId %></h1><hr>

            <div class="survey">
                <h1 class="title">Exhibit: Acid Rain</h1>
                <img src="/img/exhibit/acid.png" alt="Large Image" class="large-image">

                <div class="quiz" style="width: 90%;">
                    <h2 class="prompt">Use your acid rain knowledge to create groups of 4!</h2>
                    <h2 class="prompt" id="alert"></h2>

                    <div class="connections">
                        <div class="correct-answers">
                            <div class="group yellow" id="yellowgroup">
                                <h2 class="group-title">Words relating to the impact of acid rain on the air</h2>
                                <p class="group-words"></p>
                            </div>
                            <div class="group blue" id="bluegroup">
                                <h2 class="group-title">Ways acid rain affects infrastructure</h2>
                                <p class="group-words"></p>
                            </div>
                            <div class="group green" id="greengroup">
                                <h2 class="group-title">Ecosystems affected by acid rain</h2>
                                <p class="group-words"></p>
                            </div>
                            <div class="group red" id="redgroup">
                                <h2 class="group-title">Common pollution sources contributing to acid rain</h2>
                                <p class="group-words"></p>
                            </div>
                        </div>
                        <div class="board"></div>

                        <p id="wrongGuessCount"></p>
                        
                        <a id="rand" onclick="randomizeBoard()" class="button darkgreen" >Randomize</a>

                        <a id="unclickanswer" onclick="deselectAll()" class="button darkgreen " >Deselect</a>

                        <a id="checkanswer" onclick="checkAnswer()" class="button red" >Submit</a>


                        
                        <a id="giveup" onclick="submitSurveyResponse('acid', {'completed': win, 'errors': wrongGuessCount})" class="button yellow" style="display: none;">Give Up.</a>
                        <a id="submit" onclick="submitSurveyResponse('acid', {'completed': win, 'errors': wrongGuessCount})" class="button red" style="display: none;">Submit results.</a>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/connections.js"></script>
    </body>
</html>