<!DOCTYPE html>
<html>
    <head>
        <title>Exhibit: Social Sustainability. | GT Dataseum</title>
        <%- include('../../includes/head'); %>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/data.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/survey.css">
    </head>

    <body>
        <div id="content" class="center" style="height: 95vh;">
            <div class="survey">
                <h1 class="title">Exhibit: Social Sustainability</h1>
                <img src="/img/tile8.png" alt="Large Image" class="large-image">
                
                <div class="spacer"></div>

                <div class="quiz">
                    <h2 class="prompt">Question: What Zipcode Do You Live In?</h2>
                    <textarea id="answer" rows="4" cols="50" class="answer" placeholder="Type your answer here"></textarea>
                    <a href="/start" class="button yellow" >Submit response.</a>
                </div>
            </div>
        </div>
    </body>
</html>