<!DOCTYPE html>
<html>
    <head>
        <title>Electrical Grid Management | GT Dataseum</title>
        <%- include('../../includes/head'); %>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/data.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/survey.css">
    </head>

    <body>
        <div class="logo">
            <img src="/img/transparent_logo.svg" alt="Logo">
        </div>
        <div id="content" class="center">
            <div style="margin-top: 50px;"><%- include('../../includes/dataseumtitle'); %></div>
            <h1 class="title3">Session: <%= sessionId %></h1><hr>

            <div class="survey">
                <h1 class="title">Exhibit: Electrical Grid Management</h1>
                <img src="/img/tile3.png" alt="Large Image" class="large-image">

                <div class="quiz">
                    <h2 class="prompt">Question: [prompt]</h2>
                    <textarea id="answer" rows="4" cols="50" class="answer" placeholder="Type your answer here"></textarea>
                    <a href="/start" class="button orange" >Submit response.</a>
                </div>
            </div>

            <hr>
        </div>
    </body>
</html>