<!DOCTYPE html>
<html>
    <head>
        <title>Accessible Oceans | GT Dataseum</title>
        <%- include('../../includes/head'); %>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/data.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/survey.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/ocean.css">
    </head>

    <body>
        <div class="logo">
            <img src="/img/transparent_logo.svg" alt="Logo">
        </div>
        <div id="content" class="center">
            <div style="margin-top: 50px;"><%- include('../../includes/dataseumtitle'); %></div>
            <h1 class="title3" style="display: none;">Session: <%= sessionId %></h1><hr>

            <div class="survey">
                <h1 class="title">Exhibit: Accessible Oceans</h1>
                <img src="/img/exhibit/oceans.png" alt="Large Image" class="large-image">

                <div class="quiz">
                    <div class="buildafish">
                        <h2 class="prompt">Draw and name your new fish friend!</h2>
                        <canvas id="fishCanvas" width="300" height="300"></canvas>
                        <textarea id="fishName" class="answer" placeholder="Enter name."></textarea>
                        <a class="button red" onclick="saveFish()">Save your fish</a>
                    </div>
                    <a onclick="submitSurveyResponse('oceans', document.getElementById('answer').value.trim())" class="button blue" style="display: none;">Submit response.</a>
                </div>
            </div>
        </div>
        <script src="/js/oceans.js"></script>
    </body>
</html>