<!DOCTYPE html>
<html>
    <head>
        <title>Social Data | GT Dataseum</title>
        <%- include('../../includes/head'); %>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/data.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/survey.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/cards.css">
    </head>

    <body>
        <div class="logo">
            <img src="/img/transparent_logo.svg" alt="Logo">
        </div>
        <div id="content" class="center">
            <div style="margin-top: 50px;"><%- include('../../includes/dataseumtitle'); %></div>
            <h1 class="title3" style="display: none;">Session: <%= sessionId %></h1><hr>

            <script>var selectedText = '';</script>

            <div class="survey">
                <h1 class="title">Exhibit: Social Sustainability</h1>
                <img src="/img/exhibit/socialdata.png" alt="Large Image" class="large-image">

                <div class="quiz">
                    <h2 class="prompt">Select a card to answer the prompt.</h2>
                    <div class="cardsagainst">
                        <div class="blackcard card"><p>The secret to social sustainability is __________.</p><img src="/img/3squares_inverse.png" alt="DATASEUM"></div>
                        <div class="whitecards">
                            <div class="card" onclick="selectCard(this)"><p>Recycling</p><img src="/img/3squares.png" alt="DATASEUM"></div>
                            <div class="card" onclick="selectCard(this)"><p>Going to a protest</p><img src="/img/3squares.png" alt="DATASEUM"></div>
                            <div class="card" onclick="selectCard(this)"><p>Making amends with your greatest enemy</p><img src="/img/3squares.png" alt="DATASEUM"></div>
                            <div class="card" onclick="selectCard(this)"><p>It doesn't matter</p><img src="/img/3squares.png" alt="DATASEUM"></div>
                            <div class="card" onclick="selectCard(this)"><p>Taxing the rich</p><img src="/img/3squares.png" alt="DATASEUM"></div>
                            <div class="card" onclick="selectCard(this)"><p>Awareness</p><img src="/img/3squares.png" alt="DATASEUM"></div>
                            <div class="card" onclick="selectCard(this)"><p>Jeff Bezos</p><img src="/img/3squares.png" alt="DATASEUM"></div>
                            <div class="card" onclick="selectCard(this)"><p>Voting in local elections</p><img src="/img/3squares.png" alt="DATASEUM"></div>
                            <div class="card" onclick="selectCard(this)"><p>Banning TikTok</p><img src="/img/3squares.png" alt="DATASEUM"></div>
                            <div class="card" onclick="selectCard(this)"><p>A Netflix documentary binge</p><img src="/img/3squares.png" alt="DATASEUM"></div>
                            <div class="card" onclick="selectCard(this)"><p>Burning bridges, literally</p><img src="/img/3squares.png" alt="DATASEUM"></div>
                            <div class="card" onclick="selectCard(this)"><p>Hugging it out with Mother Nature</p><img src="/img/3squares.png" alt="DATASEUM"></div>
                            <div class="card" onclick="selectCard(this)"><p>Supporting small local businesses</p><img src="/img/3squares.png" alt="DATASEUM"></div>
                            <div class="card" onclick="selectCard(this)"><p>Parallel parking on a crowded street</p><img src="/img/3squares.png" alt="DATASEUM"></div>
                            <div class="card" onclick="selectCard(this)"><p>Donations. Donations. Donations. Gifts. Gifts</p><img src="/img/3squares.png" alt="DATASEUM"></div>
                        </div>
                    </div>
                    <a onclick="submitSurveyResponse('socialdata', selectedText)" class="button orange" >Submit.</a>
                </div>
            </div>
        </div>

        <script>
            function selectCard(card) {
                // deselect other cards
                var cards = document.querySelectorAll('.whitecards .card');
                cards.forEach(function(card) {
                    card.classList.remove('selected');
                });
        
                // select
                card.classList.add('selected');
                selectedText = card.querySelector('p').textContent;
                //console.log('Selected card:', selectedText);
            }

            // autoselect first card on load
            window.addEventListener('DOMContentLoaded', function() {
                var whiteCards = document.querySelectorAll('.whitecards .card');
                if (whiteCards.length > 0) {
                    // Convert NodeList to array
                    whiteCards = Array.from(whiteCards);
                    
                    // Randomize the order of cards
                    whiteCards.sort(function() {
                        return 0.5 - Math.random();
                    });

                    // Append shuffled cards back to the container
                    var whiteCardsContainer = document.querySelector('.whitecards');
                    whiteCards.forEach(function(card) {
                        whiteCardsContainer.appendChild(card);
                    });

                    // Select the first card
                    var firstCard = whiteCards[0];
                    selectCard(firstCard);
                }
            });
        </script>
    </body>
</html>