<!DOCTYPE html>
<html>
    <head>
        <title>GT Dataseum</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="Ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/public/img/dataseum_logo.png" type="image/png">
        <script src="/public/js/main.js"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="/public/css/main.css">
    </head>

    <body>
        <div class="logo">
            <img src="/public/img/transparent_logo.svg" alt="Logo">
        </div>
        <div id="content" class="center">
            
        </div>
    </body>
</html>