<!DOCTYPE html>
<html>
    <head>
        <title>Becoming The Data</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="Ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel = "icon" href = "/public/img/logo.png" type = "image/x-icon">
        <script src="/public/js/main.js"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="/public/css/main.css">
    </head>

    <body>
        <div id="content">
            Hello World
        </div>
    </body>
</html>