<!DOCTYPE html>
<html>
    <head>
        <title>Atlanta Map | GT Dataseum</title>
        <link rel="icon" type="image/x-icon" href="/public/img/dataseum_logo.png">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="Ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/public/js/main.js"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="/public/css/main.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/public/css/map.css">
    </head>

    <body>
        <div id="content">
            <div id="map">
                Hello World
            </div>
        </div>
    </body>
</html>